/* Gallery.css */
.gallery-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columns */
    gap: 16px; /* Adjust the gap between images */
  }
  
  .image-container {
    width: 100%;
    max-width: 300px; /* Adjust the max width of individual images */
    border: 1px solid #ccc; /* Add a border for each image container */
    position: relative; /* Add relative positioning for holding image overlay */
  }
  
  .holding-image {
    background: rgba(0, 0, 0, 0.7); /* Add a background overlay for holding image */
  }
  
  img.image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Additional styling for holding image content */
  .holding-image img.image {
    opacity: 0.5; /* Reduce opacity for the holding image */
    filter: grayscale(100%); /* Apply a grayscale effect to the holding image */
  }
  